{% extends 'Usuario/base/base.html' %} {% load static %}

{% block titulo_pagina %} Dulce Despensa - Registro {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Registrarse</h1>
    <div class="content container">
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-m mr-5">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}