<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>LLegamos al templates</h1>

    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
       <h1> {{nombre_user}} </h1> 
            {{ edad_user}}
            {{ total_user}}

            {{sql_query}}
    </div>
    {% comment %} {% %}   ---> lo que van dentro es python {% endcomment %}
    {% for post in lista_posts %}
    <div>
        <p> publicado: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text }}</p>
    </div>
    {% endfor %}
</body>


</html>